Repository alex-tgk/orion, changes with the owners that .github/CODEOWNERS names for each.
All owners: @orion-team, @auth-team, @backend-team, @qa-team, @gateway-team, @user-team, @notifications-team, @frontend-team, @admin-team, @platform-team, @observability-team, @security-team, @compliance-team, @ai-team, @devops-team, @sre-team, @product-team, @docs-team, @legal-team, @architecture-team, @database-team, @design-team

docs: add comprehensive what's left summary
  WHATS_LEFT.md
Owners: @orion-team

docs: add comprehensive getting started and quick reference guides
  GETTING_STARTED.md
  QUICK_REFERENCE.md
Owners: @orion-team

docs: add comprehensive AI applications guide
  AI_APPLICATIONS.md
Owners: @orion-team

feat: implement complete Storage Service with S3/MinIO integration
  .claude-flow/metrics/system-metrics.json
  .env.example
  .nx/cache/run.json
  .nx/cache/terminalOutputs/1083051032323132860
  .nx/cache/terminalOutputs/11369251101541489244
  .nx/cache/terminalOutputs/5405517432616929278
  .nx/cache/terminalOutputs/6623997251360146936
  .nx/cache/terminalOutputs/7590122539233075360
  .nx/workspace-data/FBFD726E-FAB9-5891-ADBF-CB91BF59DA9C.db
  .nx/workspace-data/FBFD726E-FAB9-5891-ADBF-CB91BF59DA9C.db-shm
  .nx/workspace-data/FBFD726E-FAB9-5891-ADBF-CB91BF59DA9C.db-wal
  .nx/workspace-data/file-map.json
  .nx/workspace-data/nx_files.nxt
  .nx/workspace-data/project-graph.json
  .nx/workspace-data/source-maps.json
  .nx/workspace-data/webpack-7566275343909617285.hash
  packages/cache/src/app/app.module.ts
  packages/cache/src/app/cache.controller.ts
  packages/cache/src/app/config/cache.config.ts
  packages/cache/src/app/listeners/cache-invalidation.listener.ts
  packages/cache/src/app/services/cache.service.ts
  packages/cache/src/app/services/stats.service.ts
  packages/logger/src/lib/__tests__/logger.config.additional.spec.ts
  packages/logger/src/lib/__tests__/logger.service.additional.spec.ts
  packages/logger/src/lib/transports/__tests__/transports.spec.ts
  packages/storage/README.md
Owners: @orion-team, @devops-team, @security-team, @observability-team, @docs-team

feat: implement complete Cache Service with Redis and comprehensive tests
  packages/cache/.eslintrc.json
  packages/cache/src/app/dto/batch-operation.dto.ts
  packages/cache/src/app/dto/invalidate-cache.dto.ts
  packages/cache/src/app/services/cache.service.ts
  packages/cache/src/app/services/health.service.ts
Owners: @orion-team

feat(feature-flags): implement comprehensive test suite with 52 passing tests
  packages/feature-flags/TEST_SUMMARY.md
  packages/feature-flags/src/__mocks__/uuid.ts
  packages/feature-flags/src/__tests__/flag-audit.service.spec.ts
  packages/feature-flags/src/__tests__/flag-cache.service.spec.ts
Owners: @orion-team

fix(notifications): resolve TypeScript compilation errors
  packages/notifications/src/app/dto/notification-preferences.dto.ts
  packages/notifications/src/app/entities/notification.entity.ts
  packages/notifications/src/app/services/notification-prisma.service.ts
  packages/notifications/src/app/services/notification.service.ts
  packages/notifications/src/app/services/preferences.service.ts
  packages/notifications/src/app/services/retry.service.ts
  packages/notifications/src/app/services/template.service.spec.ts
  packages/notifications/src/app/services/template.service.ts
Owners: @notifications-team, @backend-team, @qa-team

feat: complete 10 major microservices with comprehensive test coverage
  .claude-flow/metrics/system-metrics.json
  .nx/cache/terminalOutputs/15820355325677157212
  .nx/cache/terminalOutputs/17492629003030950380
  .nx/cache/terminalOutputs/1917928307674252312
  .nx/cache/terminalOutputs/2702539684899493658
  .nx/cache/terminalOutputs/7140992671788368691
  .nx/workspace-data/FBFD726E-FAB9-5891-ADBF-CB91BF59DA9C.db
  .nx/workspace-data/file-map.json
  .nx/workspace-data/nx_files.nxt
  .nx/workspace-data/project-graph.json
  .nx/workspace-data/webpack-7566275343909617285.hash
  COMPLETION_REPORT.md
  packages/notifications/src/app/config/configuration.ts
  packages/notifications/src/app/config/rabbitmq.module.ts
  packages/notifications/src/app/consumers/auth-events.consumer.ts
  packages/notifications/src/app/consumers/user-events.consumer.ts
  packages/notifications/src/app/controllers/health.controller.ts
  packages/notifications/src/app/controllers/preferences.controller.ts
  packages/notifications/src/app/controllers/templates.controller.ts
  packages/notifications/src/app/dto/notification-response.dto.ts
  packages/notifications/src/app/dto/send-notification.dto.ts
  packages/notifications/src/app/filters/all-exceptions.filter.ts
  packages/notifications/src/app/filters/http-exception.filter.ts
  packages/notifications/src/app/services/delivery-tracking.service.ts
  packages/notifications/src/app/services/email.service.ts
  packages/notifications/src/app/services/health.service.ts
  packages/notifications/src/app/services/push.service.ts
  packages/notifications/src/app/services/sms.service.ts
Owners: @orion-team, @notifications-team, @backend-team, @security-team, @auth-team

feat(user): integrate UserPrismaService and complete Prisma schema
  packages/user/prisma/schema.prisma
  packages/user/src/app/app.module.ts
  packages/user/src/app/services/permission.service.ts
  packages/user/src/app/services/preferences.service.ts
  packages/user/src/app/services/role.service.ts
  packages/user/src/app/services/search.service.ts
  packages/user/src/app/services/session.service.ts
  packages/user/src/app/services/storage.service.spec.ts
  packages/user/src/app/services/user-prisma.service.ts
  packages/user/src/app/services/user.service.ts
Owners: @database-team, @backend-team, @user-team, @qa-team

fix(storage): resolve TypeScript linting errors in tests
  packages/storage/src/app/integration/storage.integration.spec.ts
  packages/storage/src/app/services/database.service.ts
  packages/storage/src/app/services/s3.service.spec.ts
  packages/storage/src/app/storage.controller.spec.ts
Owners: @orion-team

docs: add comprehensive project status report
  PROJECT_STATUS.md
  WHATS_LEFT.md
Owners: @orion-team

docs: add comprehensive demo applications and admin dashboard planning
  .claude/demo-apps/DEMO_APPLICATIONS_PLAN.md
  .claude/specs/admin-dashboard.md
  .claude/specs/document-intelligence-demo.md
Owners: @ai-team, @platform-team, @product-team

feat: implement ORION Admin Dashboard with React + TypeScript
  packages/admin-ui/.env.example
  packages/admin-ui/.gitignore
  packages/admin-ui/README.md
  packages/admin-ui/index.html
  packages/admin-ui/package.json
  packages/admin-ui/pnpm-lock.yaml
  packages/admin-ui/postcss.config.js
  packages/admin-ui/project.json
  packages/admin-ui/src/App.tsx
  packages/admin-ui/src/components/layout/Header.tsx
  packages/admin-ui/src/components/layout/Layout.tsx
  packages/admin-ui/src/components/layout/Sidebar.tsx
  packages/admin-ui/src/lib/utils.ts
  packages/admin-ui/src/main.tsx
  packages/admin-ui/src/pages/Analytics.tsx
  packages/admin-ui/src/pages/Dashboard.tsx
  packages/admin-ui/src/pages/FeatureFlags.tsx
  packages/admin-ui/src/pages/Login.tsx
  packages/admin-ui/src/pages/Logs.tsx
  packages/admin-ui/src/pages/Services.tsx
  packages/admin-ui/src/pages/Settings.tsx
  packages/admin-ui/src/pages/Users.tsx
  packages/admin-ui/src/pages/Webhooks.tsx
  packages/admin-ui/src/services/api.ts
  packages/admin-ui/src/store/auth.store.ts
  packages/admin-ui/src/styles/globals.css
  packages/admin-ui/tailwind.config.js
  packages/admin-ui/tsconfig.json
  packages/admin-ui/tsconfig.node.json
  packages/admin-ui/vite.config.ts
Owners: @frontend-team, @admin-team, @docs-team, @platform-team, @security-team, @auth-team

feat: implement Document Intelligence demo application
  packages/document-intelligence-demo/.gitignore
  packages/document-intelligence-demo/index.html
  packages/document-intelligence-demo/package.json
  packages/document-intelligence-demo/pnpm-lock.yaml
  packages/document-intelligence-demo/postcss.config.js
  packages/document-intelligence-demo/project.json
  packages/document-intelligence-demo/src/App.tsx
  packages/document-intelligence-demo/src/components/chat/ChatModal.tsx
  packages/document-intelligence-demo/src/lib/utils.ts
  packages/document-intelligence-demo/src/main.tsx
  packages/document-intelligence-demo/src/pages/AnalyticsPage.tsx
  packages/document-intelligence-demo/src/pages/LibraryPage.tsx
  packages/document-intelligence-demo/src/pages/SearchPage.tsx
  packages/document-intelligence-demo/src/pages/UploadPage.tsx
  packages/document-intelligence-demo/src/services/api.ts
  packages/document-intelligence-demo/src/styles/globals.css
  packages/document-intelligence-demo/src/types/index.ts
  packages/document-intelligence-demo/tailwind.config.js
  packages/document-intelligence-demo/tsconfig.json
  packages/document-intelligence-demo/vite-env.d.ts
  packages/document-intelligence-demo/vite.config.ts
Owners: @orion-team, @platform-team

feat: implement comprehensive Services monitoring page
  packages/admin-ui/src/pages/Services.tsx
Owners: @frontend-team, @admin-team

feat: enhance demo with realistic sample documents and intelligent Q&A
  packages/document-intelligence-demo/README.md
  packages/document-intelligence-demo/src/services/api.ts
  packages/document-intelligence-demo/vercel.json
Owners: @docs-team, @orion-team

docs: add comprehensive deployment guide for demo app
  .claude-flow/metrics/system-metrics.json
  .claude/mcp/IMPLEMENTATION_GUIDE.md
  .claude/mcp/MCP_ENHANCEMENT_SUMMARY.md
  .claude/mcp/config.json
  .claude/scripts/install-mcp-servers.sh
  .nx/cache/terminalOutputs/10421181384013943875
  .nx/cache/terminalOutputs/11447976421962832288
  .nx/cache/terminalOutputs/13413496158390392337
  .nx/cache/terminalOutputs/18017082632031118644
  .nx/cache/terminalOutputs/18273607203280976672
  .nx/cache/terminalOutputs/1928852437728174126
  .nx/cache/terminalOutputs/2269750357075703146
  .nx/cache/terminalOutputs/5571563643540972000
  .nx/cache/terminalOutputs/6403933138912476616
  .nx/cache/terminalOutputs/7036956304890307307
  .nx/cache/terminalOutputs/9251025890440926081
  .nx/workspace-data/nx_files.nxt
  .nx/workspace-data/project-graph.json
  .nx/workspace-data/source-maps.json
  .nx/workspace-data/webpack-7566275343909617285.hash
  DEMO_PREVIEW.md
  MCP-RECOMMENDATIONS.md
  MCP_INSTALLATION_INSTRUCTIONS.md
  packages/document-intelligence-demo/DEPLOY.md
Owners: @orion-team, @ai-team, @platform-team

feat: implement AI Wrapper Service with CLI-based providers and parallel execution
  packages/ai-wrapper/README.md
  packages/ai-wrapper/package.json
  packages/ai-wrapper/pnpm-lock.yaml
  packages/ai-wrapper/project.json
  packages/ai-wrapper/src/app.module.ts
  packages/ai-wrapper/src/controllers/ai.controller.ts
  packages/ai-wrapper/src/main.ts
  packages/ai-wrapper/src/services/parallel-ai.service.ts
  packages/ai-wrapper/src/wrappers/amazonq.wrapper.ts
  packages/ai-wrapper/src/wrappers/base-ai.wrapper.ts
  packages/ai-wrapper/src/wrappers/claude.wrapper.ts
  packages/ai-wrapper/src/wrappers/copilot.wrapper.ts
  packages/ai-wrapper/tsconfig.json
  packages/document-intelligence-demo/src/services/api.ts
  packages/document-intelligence-demo/vite-env.d.ts
Owners: @docs-team, @platform-team, @orion-team

docs: add comprehensive AI Wrapper Service usage guide
  AI_WRAPPER_GUIDE.md
Owners: @orion-team

docs: add comprehensive code metrics analysis
  CODE_METRICS.md
Owners: @orion-team

feat: implement ORION Service Manager with PM2 integration
  SERVICE_MANAGER_GUIDE.md
  ecosystem.config.js
  packages/service-manager/.gitignore
  packages/service-manager/DEPLOYMENT.md
  packages/service-manager/README.md
  packages/service-manager/client/index.html
  packages/service-manager/client/postcss.config.js
  packages/service-manager/client/src/App.tsx
  packages/service-manager/client/src/index.css
  packages/service-manager/client/src/main.tsx
  packages/service-manager/client/tailwind.config.js
  packages/service-manager/client/tsconfig.json
  packages/service-manager/client/tsconfig.node.json
  packages/service-manager/client/vite-env.d.ts
  packages/service-manager/client/vite.config.ts
  packages/service-manager/package.json
  packages/service-manager/pnpm-lock.yaml
  packages/service-manager/server/index.ts
Owners: @orion-team, @docs-team, @platform-team

docs: add comprehensive ORION platform status document
  ORION_STATUS.md
Owners: @orion-team

fix: update PM2 configuration and webpack configs for production
  PM2_SETUP.md
  ecosystem.config.js
  packages/ab-testing/webpack.config.cjs
  packages/admin-ui/webpack.config.cjs
  packages/ai-interface/webpack.config.cjs
  packages/analytics/webpack.config.cjs
  packages/audit/webpack.config.cjs
  packages/auth/webpack.config.cjs
  packages/cache/webpack.config.cjs
  packages/config/webpack.config.cjs
  packages/cost-tracking/webpack.config.cjs
  packages/dev-tools/webpack.config.cjs
  packages/gateway/webpack.config.cjs
  packages/logger/webpack.config.cjs
  packages/migrations/webpack.config.cjs
  packages/notifications/webpack.config.cjs
  packages/orchestrator/webpack.config.cjs
  packages/scheduler/webpack.config.cjs
  packages/search/webpack.config.cjs
  packages/secrets/webpack.config.js
  packages/storage/webpack.config.cjs
  packages/user/webpack.config.cjs
  packages/vector-db/webpack.config.cjs
  packages/webhooks/webpack.config.cjs
Owners: @orion-team, @frontend-team, @admin-team, @security-team, @compliance-team, @auth-team, @backend-team, @gateway-team, @observability-team, @notifications-team, @platform-team, @devops-team, @user-team

fix: simplify PM2 config to only run frontend apps
  .claude-flow/metrics/system-metrics.json
  .nx/cache/run.json
  .nx/cache/terminalOutputs/12056749213474089570
  .nx/workspace-data/FBFD726E-FAB9-5891-ADBF-CB91BF59DA9C.db
  .nx/workspace-data/file-map.json
  .nx/workspace-data/nx_files.nxt
  .nx/workspace-data/project-graph.json
  .nx/workspace-data/source-maps.json
  .nx/workspace-data/webpack-7566275343909617285.hash
  PM2_SETUP.md
  ecosystem.config.js
Owners: @orion-team

feat: add fancy ORION platform showcase page
  ORION_SHOWCASE.html
Owners: @orion-team

feat: parallel development - AI wrapper, Docker, deployment docs
  .claude-flow/metrics/system-metrics.json
  .nx/cache/run.json
  .nx/cache/terminalOutputs/14451553235689975137
  .nx/workspace-data/FBFD726E-FAB9-5891-ADBF-CB91BF59DA9C.db
  .nx/workspace-data/file-map.json
  .nx/workspace-data/nx_files.nxt
  .nx/workspace-data/project-graph.json
  docker-compose.yml
  docs/deployment/DEPLOYMENT_PRODUCTION.md
  docs/deployment/ENVIRONMENT_VARIABLES.md
  packages/ai-wrapper/Dockerfile
  scripts/init-db.sql
Owners: @orion-team, @devops-team, @architecture-team, @docs-team, @backend-team

docs: add comprehensive codebase audit
  .specify/memory/codebase-audit.md
Owners: @orion-team

feat: complete REAL AI CLI integrations with all 5 providers
  .nx/cache/run.json
  .nx/cache/terminalOutputs/262226266894898560
  .nx/workspace-data/FBFD726E-FAB9-5891-ADBF-CB91BF59DA9C.db
  .nx/workspace-data/file-map.json
  .nx/workspace-data/nx_files.nxt
  .nx/workspace-data/project-graph.json
  ecosystem.ai-services.config.js
  packages/ai-wrapper/src/app.module.ts
  packages/ai-wrapper/src/controllers/ai.controller.ts
  packages/ai-wrapper/src/services/parallel-ai.service.ts
  packages/ai-wrapper/src/wrappers/base-ai.wrapper.ts
  packages/ai-wrapper/src/wrappers/codex.wrapper.ts
  packages/ai-wrapper/src/wrappers/gemini.wrapper.ts
Owners: @orion-team

test: add comprehensive test suite for AI wrapper service
  .nx/cache/run.json
  .nx/cache/terminalOutputs/9953901533327874933
  .nx/workspace-data/FBFD726E-FAB9-5891-ADBF-CB91BF59DA9C.db
  .nx/workspace-data/file-map.json
  .nx/workspace-data/nx_files.nxt
  .nx/workspace-data/project-graph.json
  packages/ai-wrapper/jest.config.ts
  packages/ai-wrapper/src/controllers/ai.controller.spec.ts
  packages/ai-wrapper/src/services/parallel-ai.service.spec.ts
  packages/ai-wrapper/src/wrappers/claude.wrapper.spec.ts
  packages/ai-wrapper/tsconfig.spec.json
Owners: @orion-team, @qa-team

fix: resolve ESLint errors in admin dashboard
  packages/admin-ui/src/app/controllers/ai.controller.ts
  packages/admin-ui/src/app/controllers/logs.controller.ts
  packages/admin-ui/src/app/dto/feature-flag.dto.ts
  packages/admin-ui/src/app/dto/health.dto.ts
  packages/admin-ui/src/app/dto/log.dto.ts
  packages/admin-ui/src/app/dto/queue.dto.ts
  packages/admin-ui/src/app/dto/service.dto.ts
  packages/admin-ui/src/app/gateways/admin-events.gateway.ts
  packages/admin-ui/src/app/services/health.service.ts
  packages/admin-ui/src/app/services/pm2.service.ts
  packages/admin-ui/src/app/services/rabbitmq.service.ts
  packages/admin-ui/src/components/features/ai-chat/ChatInput.tsx
  packages/admin-ui/src/services/api.ts
  packages/admin-ui/src/types/feature-flag.types.ts
  packages/admin-ui/src/types/logs.ts
  packages/admin-ui/src/types/queue.types.ts
  packages/admin-ui/src/types/services.types.ts
Owners: @backend-team, @admin-team, @frontend-team

docs: add comprehensive quick start guide for ORION platform
  QUICKSTART.md
Owners: @orion-team

.github/CODEOWNERS:

# CODEOWNERS - Code Ownership and Review Assignments
#
# This file defines code ownership for the ORION project.
# Each line is a file pattern followed by one or more owners.
#
# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# Pattern Syntax:
# - * matches any string of characters
# - ** matches zero or more directories
# - ? matches a single character
# - [abc] matches any character in the brackets
#
# Order matters: Later matches take precedence

# ==============================================================================
# GLOBAL OWNERSHIP
# ==============================================================================

# Default owners for all files in the repository
* @orion-team

# ==============================================================================
# SERVICE OWNERSHIP
# ==============================================================================

# Authentication Service
/packages/auth/ @auth-team @backend-team
/packages/auth/src/**/*.spec.ts @auth-team @qa-team

# Gateway Service
/packages/gateway/ @gateway-team @backend-team
/packages/gateway/src/**/*.spec.ts @gateway-team @qa-team

# User Service
/packages/user/ @user-team @backend-team
/packages/user/src/**/*.spec.ts @user-team @qa-team

# Notification Service
/packages/notifications/ @notifications-team @backend-team
/packages/notifications/src/**/*.spec.ts @notifications-team @qa-team

# Admin UI
/packages/admin-ui/ @frontend-team @admin-team
/packages/admin-ui/src/frontend/ @frontend-team
/packages/admin-ui/src/app/ @backend-team @admin-team

# ==============================================================================
# SHARED PACKAGES
# ==============================================================================

# Shared utilities and libraries
/packages/shared/ @platform-team @backend-team
/packages/logger/ @observability-team @platform-team
/packages/audit/ @security-team @compliance-team
/packages/mcp-server/ @ai-team @platform-team

# ==============================================================================
# INFRASTRUCTURE & DEVOPS
# ==============================================================================

# Kubernetes manifests
/k8s/ @devops-team @sre-team
/k8s/base/ @devops-team @sre-team
/k8s/overlays/staging/ @devops-team
/k8s/overlays/production/ @devops-team @sre-team @security-team

# Helm charts
/charts/ @devops-team @sre-team

# Docker configurations
/docker-compose*.yml @devops-team
/packages/*/Dockerfile @devops-team @backend-team
/.dockerignore @devops-team

# CI/CD workflows
/.github/workflows/ @devops-team @platform-team
/.github/workflows/ci.yml @devops-team @qa-team
/.github/workflows/dependency-update.yml @devops-team @security-team

# ==============================================================================
# CONFIGURATION & TOOLING
# ==============================================================================

# Root configuration files
/package.json @platform-team
/pnpm-lock.yaml @platform-team
/pnpm-workspace.yaml @platform-team
/nx.json @platform-team
/tsconfig*.json @platform-team

# Linting and formatting
/eslint.config.js @platform-team
/.prettierrc @platform-team
/.prettierignore @platform-team

# Git hooks
/.husky/ @platform-team @devops-team
/commitlint.config.js @platform-team

# Environment configuration
/.env.example @devops-team @security-team
/.env*.example @devops-team @security-team

# ==============================================================================
# CLAUDE CODE & AI INTEGRATION
# ==============================================================================

# Claude Code configuration
/.claude/ @ai-team @platform-team
/.claude/agents/ @ai-team
/.claude/commands/ @ai-team @platform-team
/.claude/mcp/ @ai-team @platform-team
/.claude/specs/ @ai-team @product-team
/.claude/memory/ @ai-team

# GitHub Spec Kit specifications
/.claude/specs/*-service.md @ai-team @product-team @backend-team

# ==============================================================================
# DOCUMENTATION
# ==============================================================================

# Root documentation
/README.md @platform-team @docs-team
/CONTRIBUTING.md @platform-team @docs-team
/CHANGELOG.md @platform-team
/LICENSE @legal-team

# Service documentation
/packages/*/README.md @docs-team
/packages/*/IMPLEMENTATION_SUMMARY.md @docs-team

# Architecture and design docs
/docs/ @architecture-team @docs-team
/.claude/reports/ @platform-team @docs-team

# ==============================================================================
# SECURITY & COMPLIANCE
# ==============================================================================

# Security-sensitive files
/.github/dependabot.yml @security-team @devops-team
/packages/*/src/**/auth*.* @security-team @auth-team
/packages/*/src/**/security*.* @security-team
/packages/audit/ @security-team @compliance-team

# Secret management
/k8s/**/secrets*.* @security-team @devops-team

# ==============================================================================
# DATABASE & MIGRATIONS
# ==============================================================================

# Prisma schemas
/packages/*/prisma/schema.prisma @database-team @backend-team
/packages/*/prisma/migrations/ @database-team @backend-team

# Database migrations
/packages/*/src/migrations/ @database-team @backend-team

# ==============================================================================
# TESTING
# ==============================================================================

# Test configuration
/jest.preset.js @qa-team @platform-team
/packages/*/jest.config.ts @qa-team

# E2E tests
/packages/*-e2e/ @qa-team

# Test utilities
/packages/shared/src/testing/ @qa-team @platform-team

# ==============================================================================
# FRONTEND SPECIFIC
# ==============================================================================

# Frontend assets
/packages/admin-ui/src/frontend/styles/ @frontend-team @design-team
/packages/admin-ui/src/frontend/components/ @frontend-team
/packages/admin-ui/src/frontend/public/ @frontend-team

# Frontend configuration
/packages/admin-ui/tsconfig.frontend.json @frontend-team
/packages/admin-ui/webpack.config.js @frontend-team @platform-team

# ==============================================================================
# MONITORING & OBSERVABILITY
# ==============================================================================

# Monitoring configuration
/k8s/**/servicemonitor.yaml @observability-team @sre-team
/packages/logger/ @observability-team

# ==============================================================================
# SPECIAL PATTERNS
# ==============================================================================

# Package manifests require platform team review
/packages/*/package.json @platform-team

# Webpack configs require platform team review
/packages/*/webpack.config.js @platform-team @devops-team

# Any changes to .github require DevOps review
/.github/ @devops-team

# ==============================================================================
# NOTES
# ==============================================================================
#
# Team Aliases (configure in GitHub organization settings):
# - @orion-team - All team members
# - @platform-team - Platform/infrastructure engineers
# - @backend-team - Backend developers
# - @frontend-team - Frontend developers
# - @devops-team - DevOps/SRE engineers
# - @sre-team - Site Reliability Engineers
# - @security-team - Security engineers
# - @qa-team - QA/Test engineers
# - @ai-team - AI/ML engineers
# - @docs-team - Documentation writers
# - @architecture-team - Solution architects
# - @database-team - Database administrators
# - @observability-team - Monitoring/logging engineers
# - @compliance-team - Compliance/legal team
# - @legal-team - Legal team
# - @design-team - UI/UX designers
# - @product-team - Product managers
#
# Specific Service Teams:
# - @auth-team - Authentication service owners
# - @gateway-team - API Gateway service owners
# - @user-team - User service owners
# - @notifications-team - Notification service owners
# - @admin-team - Admin UI owners
#
# ==============================================================================
